*{
    box-sizing: border-box;
}

body{
  margin: 0;
}

#container{
  max-width:1200px;
  margin: 0 auto;
  background: fff;
  width: 100%;
}

.row:before,
.row:after{
  content: " ";
  display: table;
}

.row:after{
  clear:both;
}

[class*="column-"]{
  float: left;
  min-height: 80px;
  margin: 10px;
}

#row-b{
  background: #ef47c0;
}

.column-4{
  background: #48b5c3;
  height: 180px;
  width: calc(33.33% -  20px);
}

.column-8{
  background: #fff;
  width: calc(66.66%  -  20px);
}

.column-12{
  background: #ef47c0;
  width: calc(100%  -  20px);
}
